/**
 * Tutorial ensinando a criar uma extensão de tela de autenticação
 * Desenvolvido por Bruno Tavares 
 * Publicado em http://www.extdesenv.com.br
 */
body { background-color: #004478; }
.lock{ background-image:url("/PresentationLayer/resources/images/lock.png") !important; }
.app-go{ background-image:url("/PresentationLayer/resources/images/app-go.png") !important; }

.error-msg{
	float:left;
	font-size:11px !important;
	line-height:28px;
	color:#ff2f2f;
	font-weight:bold;
	display:none;
}