
.grid-style-1 .x-grid-rowbody
{
    color: #555555;
    font-size: 11px;
    margin: 5px 20px 10px 10px !important;
}

.x-grid-row .x-grid-cell-inner
{
    cursor: pointer;
}

.x-grid-row-over .x-grid-cell-inner
{
    font-weight: bold;
}
/* shared styles for the ActionColumn icons */
.x-action-col-cell img
{
    height: 16px;
    width: 16px;
    cursor: pointer;
    float: none !important;
}

.x-ie6 .x-action-col-cell img
{
    position: relative;
    top: -1px;
}

.inputDisabled input
{
    color: Gray;
    font-weight: bold;
}


/* estilos para a impressao da OS */

.comprLargAreaOS
{
    width: 50px;
}

.bold
{
    font-weight: bold;
}
.left
{
    text-align: left !important;
}
.tableOS
{
    background-color: White;
    font-family: Arial;
    font-size: 10px;
    border-top: 1px solid #781A28;
    border-left: 1px solid #781A28;
    width: 100%;
}
.tableOS td
{
    border-right: 1px solid #781A28;
    border-bottom: 1px solid #781A28;
    color: #781A28;
    padding: 3px;
    text-align: center;
}
.innerTableOS { width: 100% !important; }

.innerTableOS td 
{
    border: none !important;
    font: inherit !important;
    font-size: 10px !important;
}

#tdImg { width: 110px; }
#infoContato { font-family:Times New Roman; font-size: inherit; margin: 0px; }
#numOS { color: Red; margin: 5px; }
#dataOS { margin: 0px; }
#parentfoneMailOS { padding: 0px; }
#foneMailOS { table-layout: fixed; }