
.grid-style-1 .x-grid-rowbody {
    color: #555555;
    font-size: 11px;
    margin: 5px 20px 10px 10px !important;
}

.x-grid-row .x-grid-cell-inner {
    cursor: pointer;
}

.x-grid-row-over .x-grid-cell-inner {
    font-weight: bold;
}
/* shared styles for the ActionColumn icons */
.x-action-col-cell img {
    height: 16px;
    width: 16px;
    cursor: pointer;
    float: none !important;
}

.x-ie6 .x-action-col-cell img {
    position:relative;
    top:-1px;
}
