
.location-thumb { background-image: url("../images/location-thumb.png") !important; }
.fav { background-image: url("../images/favicon.png") !important; }
.cifrao-thumb {background-image: url("../images/cifrao-thumb.png") !important;}
.user-silhouette { background-image: url("../images/user-silhouette.png") !important; }
.btn-add {background-image: url("../images/btn-add.png") !important;}
.btn-del {background-image: url("../images/btn-del.png") !important;}
.add-thumb {background-image: url("../images/add-thumb.png") !important;}
.del-thumb {background-image: url("../images/del-thumb.png") !important;}
.btn-logout {background-image: url("../images/btn-logout.png") !important;}
.btn-settings {background-image: url("../images/btn-settings.png") !important;}
.btn-limpar {background-image: url("../images/btn-limpar.png") !important;}
.btn-detalhes {background-image: url("../images/btn-detalhes.gif") !important;}
.save {background-image: url("../images/save.png") !important;}
.save-add {background-image: url("../images/save-add.png") !important;}
.save-edit {background-image: url("../images/save-edit.png") !important;}
.talk {background-image: url("../images/talk.png") !important;}
.tapete {background-image: url("../images/tapete.png") !important;}
.tapete-thumb {background-image: url("../images/tapete-thumb.png") !important;}
.tapete-estrela-thumb {background-image: url("../images/tapete-estrela-thumb.png") !important;}
.clientes-thumb {background-image: url("../images/clientes-thumb.png") !important;}
.clientes {background-image: url("../images/clientes.png") !important;}
.clientes-add {background-image: url("../images/clientes-add.png") !important;}
.clientes-add-thumb {background-image: url("../images/clientes-add-thumb.png") !important;}
.clientes-del-thumb {background-image: url("../images/clientes-del-thumb.png") !important;}
.clientes-edit {background-image: url("../images/clientes-edit.png") !important;}
.clientes-edit-thumb {background-image: url("../images/clientes-edit-thumb.png") !important;}
.clientes-search {background-image: url("../images/clientes-search.png") !important;}
.clientes-search-thumb {background-image: url("../images/clientes-search-thumb.png") !important;}
.clientes-dados {background-image: url("../images/clientes-dados.png") !important;}
.filtro {background-image: url("../images/filtro.png") !important;}
.search {background-image: url("../images/search.png") !important;}
.link-add {background-image: url("../images/link-add.png") !important;}
.edit {background-image: url("../images/edit.png") !important;}
.servicos {background-image: url("../images/servicos.png") !important;}
.servicos-thumb {background-image: url("../images/servicos-thumb.png") !important;}
.servicos-search {background-image: url("../images/servicos-search.png") !important;}
.servicos-search-thumb {background-image: url("../images/servicos-search-thumb.png") !important;}
.servicos-add {background-image: url("../images/servicos-add.png") !important;}
.servicos-add-thumb {background-image: url("../images/servicos-add-thumb.png") !important;}
.dinheiro-add {background-image: url("../images/dinheiro-add.png") !important;}
.dinheiro-del {background-image: url("../images/dinheiro-del.png") !important;}
.favorite {background-image: url("../images/favorite.png") !important;}
.favorite-add {background-image: url("../images/favorite-add.png") !important;}
.favorite-del {background-image: url("../images/favorite-del.png") !important;}
.toggle-expand {background-image: url("../images/toggle-expand.png") !important;}
.toggle-collapse {background-image: url("../images/toggle-collapse.png") !important;}

.x-action-col-cell img.act-dinheiro-add {background-image: url("../images/dinheiro-add.png") !important;}
.x-action-col-cell img.act-dinheiro-del {background-image: url("../images/dinheiro-del.png") !important;}
.x-action-col-cell img.act-edit {background-image: url("../images/edit.png") !important;}

.x-ie6 .x-action-col-cell img.act-dinheiro-add { background-image: url("../images/dinheiro-add.png") !important; }
.x-ie6.x-action-col-cell img.act-dinheiro-del { background-image: url("../images/dinheiro-del.png") !important; }
.x-ie6.x-action-col-cell img.act-edit { background-image: url("../images/edit.png") !important; }

